<div class="nested-fields">
      <%= f.input :match %>
      <%= f.input :type_bet %>
      <%= f.input :selection %>
      <%= f.input :odds %>
      <%= f.input :status %>
      <%= link_to_remove_association "remove game", f %>
</div>
