<p id="notice"><%= notice %></p>

<p>
  <strong>Stake:</strong>
  <%= @betslip.stake %>
</p>

<p>
  <strong>Winnings:</strong>
  <%= @betslip.winnings %>
</p>

<p>
  <strong>Total odds:</strong>
  <%= @betslip.total_odds %>
</p>

<p>
  <strong>Status:</strong>
  <%= @betslip.status %>
</p>

<p>
  <% @game.each do |t| %>
  <strong>Match:</strong>
  <%= t.match %>
  <% end %>
</p>

<%= link_to 'Edit', edit_betslip_path(@betslip) %> |
<%= link_to 'Back', betslips_path %>
